<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.baizhi.dao.CourseDAO">


    <insert id="insert" parameterType="com.baizhi.entity.Course">
       insert  into course (id,homework,score,user_id) values
       (#{id},#{homework},#{score},#{user_id})
    </insert>

    <update id="update" parameterType="com.baizhi.entity.Course">
        update course set homework=#{homework},score=#{score},user_id=#{user_id}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        delete from course where id=#{id}
    </delete>
    <select id="queryOne" parameterType="java.lang.String" resultType="com.baizhi.entity.Course">
       select id,homework,score,user_id from course
       where id=#{id}
    </select>

    <select id="queryAll" resultType="com.baizhi.entity.Course">
         select id,homework,score,user_id from course
    </select>

    <select id="findByPage" resultType="com.baizhi.entity.Course">
        select id,homework,score,user_id from course
        limit #{start},#{rows}
    </select>
    <select id="findTotals" resultType="long">
        select count(id) from course
    </select>
</mapper>
