<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.baizhi.dao.TeachDAO">


    <insert id="insert" parameterType="com.baizhi.entity.Teach">
       insert into teach (id,name,head_img,sex) values
       (#{id},#{name},#{head_img},#{sex})
    </insert>

    <update id="update" parameterType="com.baizhi.entity.Teach">
        update teach set name=#{name},head_img=#{head_img},sex=#{sex}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.String">
        delete from teach where id=#{id}
    </delete>
    <select id="queryOne" parameterType="java.lang.String" resultType="com.baizhi.entity.Teach">
       select id,name,head_img,sex from teach
       where id=#{id}
    </select>

    <select id="queryAll" resultType="com.baizhi.entity.Teach">
         select id,name,head_img,sex from teach
    </select>

    <select id="findByPage" resultType="com.baizhi.entity.Teach">
        select id,name,head_img,sex from teach
        limit #{start},#{rows}
    </select>
    <select id="findTotals" resultType="long">
        select count(id) from teach
    </select>
</mapper>
